<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/login.css">
    <title>Class Choice</title>
</head>

<body>

    <div class="col-lg-12">
        <form id="graderecord" action="/graderecord" method="post">
            <div class="attendancecontainer col-lg-4 col-lg-offset-4">
                <input class="form-control" type="text" name="aciklama" placeholder="Sınav Açıklaması"> <br> {% for id,name,surname in zipped %}
                <div class="namesurname col-lg-6">{{name}} {{surname}}</div>
                <div class="attendanceradios col-lg-offset-6">
                    <input class="form-control-sm" type="text" name={{id}}> <br>
                </div>{%endfor%}
                <input class="col-lg-offset-5 btn btn-success" type="submit">

            </div>
        </form>
    </div>

    <div class="col-lg-12 col-lg-offset-4" style="margin-top:15px; margin-bottom:10px;">
        <form id="listgrades" action="/listgrades" method="post">
            List all grades for this schedule.
            <input class="btn btn-info" type="submit" value="List">
        </form>
    </div>

    <div class="col-lg-12 col-lg-offset-4" style="margin-top:10px; margin-bottom:10px;">
        <form id="updategrades" action="/updategrades" method="post">
            Update grades.
            <input class="btn btn-primary" type="submit" value="Update">
        </form>
    </div>


</body>

</html>